## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
#city_data_to_load= "../Weather_Database/WeatherPy_Database.csv"

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Clyde River,CA,70.4692,-68.5914,43.03,70,100,9.22,light rain
1,1,Berdigestyakh,RU,62.0989,126.6992,54.48,94,60,8.34,light rain
2,2,Tiksi,RU,71.6872,128.8694,38.75,92,82,15.39,broken clouds
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,84.16,51,0,13.80,clear sky
4,4,Ostrovnoy,RU,68.0531,39.5131,62.38,63,91,8.39,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,84.16,51,0,13.80,clear sky
9,9,Sungurlu,TR,40.1675,34.3739,75.38,45,1,7.52,clear sky
10,10,Kabo,CF,7.6994,18.6290,80.49,71,43,0.38,scattered clouds
11,11,Hithadhoo,MV,-0.6000,73.0833,82.85,76,100,5.66,overcast clouds
12,12,Mogadishu,SO,2.0371,45.3438,76.60,81,37,20.49,light rain
...,...,...,...,...,...,...,...,...,...,...
682,682,Abu Zabad,SD,12.3500,29.2500,77.00,70,100,3.31,light rain
683,683,Arani,IN,12.6667,79.2833,80.89,68,100,11.50,overcast clouds
684,684,Mitsamiouli,KM,-11.3847,43.2844,76.75,66,22,12.39,few clouds
686,686,Jiuquan,CN,39.7432,98.5174,75.54,17,0,7.31,clear sky
687,687,Calatayud,ES,41.3535,-1.6432,79.72,37,0,19.06,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
if preferred_cities_df.isnull().values.any() == True:
    print("Null values present in the Preferred cities list")

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
if preferred_cities_df.isnull().values.any() == True:
    preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_clean_df = preferred_cities_df

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = none
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,84.16,clear sky,-22.9661,-42.0278,
9,Sungurlu,TR,75.38,clear sky,40.1675,34.3739,
10,Kabo,CF,80.49,scattered clouds,7.6994,18.6290,
11,Hithadhoo,MV,82.85,overcast clouds,-0.6000,73.0833,
12,Mogadishu,SO,76.60,light rain,2.0371,45.3438,
17,Auchi,NG,79.50,light rain,7.0667,6.2667,
21,Albany,US,82.02,scattered clouds,42.6001,-73.9662,
28,Carlsbad,US,85.35,few clouds,33.1581,-117.3506,
29,Tevaitoa,PF,78.44,clear sky,-16.7833,-151.5000,
33,Lazaro Cardenas,MX,85.44,overcast clouds,17.9583,-102.2000,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#   hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,84.16,clear sky,-22.9661,-42.0278,Pousada Porto Praia
9,Sungurlu,TR,75.38,clear sky,40.1675,34.3739,Sungurlu Ogretmenevi
10,Kabo,CF,80.49,scattered clouds,7.6994,18.6290,
11,Hithadhoo,MV,82.85,overcast clouds,-0.6000,73.0833,Scoop Guest House
12,Mogadishu,SO,76.60,light rain,2.0371,45.3438,Hotel Juba
17,Auchi,NG,79.50,light rain,7.0667,6.2667,LECKY PLACE & HOTEL
21,Albany,US,82.02,scattered clouds,42.6001,-73.9662,
28,Carlsbad,US,85.35,few clouds,33.1581,-117.3506,Carlsbad Inn Beach Resort
29,Tevaitoa,PF,78.44,clear sky,-16.7833,-151.5000,Hôtel Raiatea Lodge
33,Lazaro Cardenas,MX,85.44,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_clean_df = hotel_df.dropna()

hotel_clean_df.head(5)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,84.16,clear sky,-22.9661,-42.0278,Pousada Porto Praia
9,Sungurlu,TR,75.38,clear sky,40.1675,34.3739,Sungurlu Ogretmenevi
10,Kabo,CF,80.49,scattered clouds,7.6994,18.6290,
11,Hithadhoo,MV,82.85,overcast clouds,-0.6000,73.0833,Scoop Guest House
12,Mogadishu,SO,76.60,light rain,2.0371,45.3438,Hotel Juba

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_clean_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations =hotel_clean_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))